.main-project {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  width: 100vw;
  padding: 20px 0;

  background-color: var(--dark-gray);
  color: var(--light-gray);
}

.main-project a {
  background-color: var(--slate-blue);
  color: var(--light-gray);

  padding: 20px;
  border-radius: 100px;
}

.main-project a:hover {
  color: var(--light-gray);
  font-size: 110%;
  transition: 200ms;
}

.main-project .description {
  max-width: 1000px;
  padding: 0 100px;
}

.main-project .description p {
  text-align: justify;
  margin-bottom: 15px;
  font-size: larger;
}
